In [7]:
import pandas as pd
from datetime import datetime

In [17]:
data = pd.read_csv("../datasources/test.csv", parse_dates=True, infer_datetime_format=True)

In [18]:
data.head()

   Test  Test2  created_at
0     1      2  22/05/2022
1     1      2  21/05/2022
2     1      2  20/05/2022
3     1      2  22/05/2022
4     1      2  21/05/2022

In [19]:
date = datetime.strptime('22-05-2022','%d-%m-%Y')

In [20]:
data[data['created_at']==date]

Empty DataFrame
Columns: [Test, Test2, created_at]
Index: []

In [24]:
data['created_at'] = data['created_at'].astype('datetime64[ns]')

d:\Project folder\exl_app\plotly_dash_app\env\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '22/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,
d:\Project folder\exl_app\plotly_dash_app\env\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '21/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,
d:\Project folder\exl_app\plotly_dash_app\env\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '20/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,

In [25]:
data[data['created_at']==date]

    Test  Test2 created_at
0      1      2 2022-05-22
3      1      2 2022-05-22
6      1      2 2022-05-22
9      1      2 2022-05-22
12     1      2 2022-05-22
15     1      2 2022-05-22
18     1      2 2022-05-22